@page
@model FarmingApp.Pages.AboutUsModel
@{
    ViewData["Title"] = "AboutUS Page";
}
 
<!DOCTYPE html>

<h1 align="center"><strong> About FarmFam</strong></h1>
<h4 align="center"> This application is a prototype for a climate data based web app based for farmers only in the United States. It was designed and built by David Humphries, Olivia Staud, and Porter Martin. Its main job is to help farmers out in regards to knowing the best time to plant their crops in order to maximize output of crops and efficiency of the farmer. </h4>
<img src="~/images/DavidHumphries.png" alt="David Humphries"> 
