@page
@model FarmingApp.Pages.PZ1Model
@{
}
<h2 align="center"><strong> Find out which crops work together!</strong></h2>
<h2 align="center">&#127805;&#129382;&#129364;</h2>
<form id="locationForm" action="/CropCompSearchResults">


    <input type="text" id="cropInp" name="crop" class="form-control" value="Enter your crop here!" />

    <input type="submit" id="submitBtn" value="Search" class="btn btn-primary" />
    <Center>
        <img src="https://www.farmersalmanac.com/wp-content/uploads/2020/07/companion-planting-AdobeStock_218588157-1121x630.jpeg" alt="Crops Next to Other Crops" height="500" width="700"
    </Center>

</form>