@page
@model FarmingApp.Pages.PZ1Model
@{
}
<h2 align="center"><strong> Find out which crops work together!</strong></h2>
<h2 align="center">&#127805;&#129382;&#129364;</h2>
<form id="locationForm" action="/CropCompSearchResults">


    <input type="text" id="cropInp" name="crop" class="form-control" value="Enter your crop here!" />

    <input type="submit" id="submitBtn" value="Search" class="btn btn-primary" />
    <Center>
        <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.farmersalmanac.com%2Fcompanion-planting-guide&psig=AOvVaw1ep9uf9uNutXy9SxN6yg3c&ust=1713485554502000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCMjf3qK9yoUDFQAAAAAdAAAAABBF" alt="Crops Next to Other Crops" height="500" width="700"
    </Center>

</form>