@page
@model FarmingApp.Pages.Index2Model
@{
}
<h2 align="center"><strong> Find which crops work together!</strong></h2>
<h2 align="center">&#127805;&#129382;&#129364;</h2>
<form id="locationForm" action="/CropDeatilsSearchResults">

    
    <input type="text" id="cropInp" name="crop" class="form-control" value="What crop are you planting?" />

    <input type="submit" id="submitBtn" value="Search" class="btn btn-primary" />
</form>
<a href=""> Start Here!</a>

