@page
@model FarmingApp.Pages.FarmingPlanModel
@{
}
<h2 align="center"><strong> Enter ID's of Crops your interested in Planting!</strong></h2>
<h2 align="center">&#127805;&#129382;&#129364;</h2>
<form id="locationForm" action="/FarmingPlanSearchResults">


    <input type="text" id="cropInp" name="crop" class="form-control" value="Enter your ID's' here!" />

    <input type="submit" id="submitBtn" value="Search" class="btn btn-primary" />
</form>