@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html>
<body>
    <h1 align="center"><strong> Welcome to the Farm Fam!</strong></h1>
    <h2 align="center"><strong> Our goal is help you grow the best crops possible in the most efficient way</strong> </h2>
    <Center>
        <a href="SearchResults"> Start Here!</a>
         </center>
         <Center>
        <img src="https://wallpaperaccess.com/full/3543885.jpg" alt="Field of Crops" height="500" width="700"
   </center>
   

</body>
</html>