@page
@model FarmingApp.Pages.SearchResultsModel
@{
    ViewData["Title"] = "Location Page";
}

<!DOCTYPE html>

<h2 align="center"><strong> Start your Journey to a Better Harvest Below</strong></h2>
<h2 align="center">&#127805;&#129382;&#129364;</h2>
<form id="locationForm" action="/SearchResults">

    <center>
    <a href="CropDetails"> Search Crops Here!</a>
    </center>
    <center>
        <a href="FarmingPlan"> Get Your Farming Plan Here!</a>
    </center>
    
    <center>
        <a href="CropComp"> Check Crop Compatibility Here!</a>
        <center>
        <a href="ClimatePrediction"> Get Future Climate Predictions Here!</a>
    </center>
</form>
    


<h2 align="center"> <strong>Traditionally When the Most Popular American Crops are Planted</strong></h2>
<center>
<table style="width:30%">
    <tr>
        <th>Plant</th>
        <th>What month to Plant</th>
    </tr>
    <tr>
        <td> Wheat </td>
        <td> September </td>
    </tr>
    <tr>
        <td> Corn </td>
        <td> May </td>
    </tr>
    <tr>
        <td> Soybean </td>
        <td> May </td>
    </tr>
    <tr>
        <td> Cotton </td>
        <td> May </td>
    </tr>
    <tr>
        <td> Hay </td>
        <td> March </td>
    </tr>
 
</table>
</center>

<div style="margin-top: 20px;"></div>
<h4 align="center"> <strong>Find the Optimal Temperature to Plant your Crops in! </strong></h4>
<form id="locationForm" action="/SearchResults">


    <input type="text" id="cropInp" name="crop" class="form-control" value="Type Crop Here" />

    <input type="submit" id="submitBtn" value="Search" class="btn btn-primary" />
</form>


<div class="link-container">
    <a asp-page="AboutUs" class="link">About Us</a>
    <a asp-page="Privacy" class="link">Privacy Policy</a>
</div>

