@page
@model FarmingApp.Pages.UpcomingWeatherEventsModel
@{
    ViewData["Title"] = "Weather Events List";
}

<!DOCTYPE html>

<h1 align="center"><strong>Upcoming Weather Events</strong></h1>

<h4 align="left"> April 8, 2024: Witness a rare event where the moon moves between the Earth and the sun, creating a beautiful solar eclipse.</h4>
<h4 align="left"> Record-Breaking Heat in February 2024: February 2024 was the hottest February since 1940.</h4>
<h4 align="left"> Above-Average Temperatures Forecasted for April-June 2024: The US National Oceanic and Atmospheric Administration predicts that most of the US and Alaska will be hotter than usual from April to June, possibly making this year one of the hottest on record. </h4>
<h4 align="left"> End of El Nino Climate Pattern: The El Nino climate pattern, which has affected global weather since June 2023, is expected to end in 2024, possibly leading to changes in weather worldwide. </h4>
<h4 align="left"> Mixed Summer Temperature Outlook: While the upper Midwest might have normal temperatures, the rest of the country is expected to be hotter than usual this summer. </h4>
<h4 align="left"> Summer Precipitation Outlook: Expect drier-than-average conditions for most states west of the Mississippi River, while the Northeast is likely to experience substantially more rainfall than usual. This is similar to last year's weather patterns. </h4>
<h4 align="left"> Fire Risk Warning: The North American Seasonal Fire Assessment and Outlook warns of a possible increase in fires in 2024, with some fires from the record-breaking 45.7-million-acre season still burning. This could lead to more smoky skies in areas downwind of the fires. </h4>

<img src="https://th.bing.com/th/id/R.64249a4322b89e7f3fa3194437a401db?rik=LgJIXt2lz8UV3Q&riu=http%3a%2f%2fwww.ewn.com.au%2fimages%2fservices%2flocal_weather_outlook_title.jpg&ehk=hugkYcfVErhRVB3LFhtjXGF9s5rk2ykJMftgbokkapg%3d&risl=&pid=ImgRaw&r=0" align="middle" alt="Field of Crops" height="500" width="700" />



      